# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
dist/
build/

# Misc
.DS_Store
*.pem
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Firebase
.firebase/
.firebaserc
firebase-debug.log
.vercel
